*.sublime-workspace
*sublime-project
*.o
**/main
**/tester
**/*~
**/*.swp
**/main.exe
**/*.vcx*
**/*.sln
**/*.sdf
**/Debug
**/*.vs
**/*.opendb
**/CMakeCache.txt
**/CMakeFiles/*
**/gtest/*
**/Makefile
**/cmake_install.cmake
